@use 'sagiri';

.def {
  font: 900 1.6rem sagiri.$font;
  margin-top: 10px;

  @include sagiri.sagirify(smoll) {
    font: 900 1.5rem sagiri.$font;
  }

  @include sagiri.sagirify(tiny) {
    font: 900 1.4rem sagiri.$font;
  }
}

.sagiri {
  font: 900 1rem sagiri.$font;
  white-space: pre-line;

  @include sagiri.sagirify(smoll) {
    font: 900 0.9rem sagiri.$font;
  }

  @include sagiri.sagirify(tiny) {
    font: 900 0.8rem sagiri.$font;
  }
}
